<dialog
  #dialog
  class="modal"
  [class.modal--large]="size() === 'large'"
  (close)="closed.emit()"
  (click)="onClick($event)"
>
  <div class="modal__panel">
    <header class="modal__header">
      <h2>{{ title() | translate }}</h2>
      <button
        type="button"
        class="modal__close"
        [attr.aria-label]="'COMMON.CLOSE' | translate"
        (click)="dialog.close()"
      >
        <app-icon name="x" [size]="18" />
      </button>
    </header>
    <div class="modal__body">
      <ng-content />
    </div>
    <footer class="modal__footer">
      <ng-content select="[modal-footer]" />
    </footer>
  </div>
</dialog>
